build\*
dist\*
build/main/xref-main.html
build/main/warn-main.txt
build/main/PYZ-00.toc
build/main/PKG-00.toc
build/main/PYZ-00.pyz
build/main/main.pkg
build/main/localpycs/pyimod04_pywin32.pyc
build/main/localpycs/struct.pyc
build/main/localpycs/pyimod02_importers.pyc
build/main/localpycs/pyimod03_ctypes.pyc
build/main/EXE-00.toc
build/main/localpycs/pyimod01_archive.pyc
build/main/Analysis-00.toc
build/main/base_library.zip
__pycache__/printer.cpython-311.pyc
__pycache__/api.cpython-311.pyc
__pycache__/Debugger.cpython-311.pyc
__pycache__/performance.cpython-311.pyc
__pycache__/Debugger.cpython-311.pyc
__pycache__/printer.cpython-311.pyc
dist/main.exe
result.json
main.spec
